* {
  font-family: "Maven Pro", sans-serif;
}
#banner {
  background-image: url(../IMAGE/Banner_2.png);
  background-position: center;
  background-size: cover;
  height: 400px;
}

#content1 a {
  text-decoration: none;
}

#content1 #content1a,
#content1 #content1b,
#content1 #content1c {
  position: relative;
}

#content1 #content1a > div {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 20px;
  background-color: rgba(112, 104, 104, 0.5);
  color: white;
}
#content1 #content1b > div {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 20px;
  background-color: rgba(62, 58, 58, 0.5);
  color: white;
}
#content1 #content1c > div {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 20px;
  background-color: rgba(62, 58, 58, 0.5);
  color: white;
}

#content1 #content1a > a {
  height: 400px;
  background-image: url(../IMAGE/vietNa.png);
  background-position: center;
  background-size: cover;
  border-radius: 0px 20px/ 0px 20px;
}

#content1 #content1b > a {
  height: 400px;
  background-image: url(../IMAGE/england.png);
  background-position: center;
  background-size: cover;
  border-radius: 0px 20px/ 0px 20px;
}

#content1 #content1c > a {
  height: 400px;
  background-image: url(../IMAGE/../IMAGE/germany.png);
  background-position: center;
  background-size: cover;
  border-radius: 0px 20px/ 0px 20px;
}

#content2 a {
  text-decoration: none;
}

#content2 #content2a,
#content2 #content2b,
#content2 #content2c {
  position: relative;
}

#content2 #content2a > div {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 20px;
  background-color: rgba(62, 58, 58, 0.5);
  color: white;
}
#content2 #content2b > div {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 20px;
  background-color: rgba(62, 58, 58, 0.5);
  color: white;
}
#content2 #content2c > div {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 20px;
  background-color: rgba(62, 58, 58, 0.5);
  color: white;
}

#content2 #content2a > a {
  height: 400px;
  background-image: url(../IMAGE/dailoan.png);
  background-position: center;
  background-size: cover;
  border-radius: 0px 20px/ 0px 20px;
}

#content2 #content2b > a {
  height: 400px;
  background-image: url(../IMAGE/japan.png);
  background-position: center;
  background-size: cover;
  border-radius: 0px 20px/ 0px 20px;
}

#content2 #content2c > a {
  height: 400px;
  background-image: url(../IMAGE/../IMAGE/korean.png);
  background-position: center;
  background-size: cover;
  border-radius: 0px 20px/ 0px 20px;
}

#content3 a {
  text-decoration: none;
}

#content3 #content3a,
#content3 #content3b,
#content3 #content3c {
  position: relative;
}

#content3 #content3a > div {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 20px;
  background-color: rgba(62, 58, 58, 0.5);
  color: white;
}
#content3 #content3b > div {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 20px;
  background-color: rgba(62, 58, 58, 0.5);
  color: white;
}
#content3 #content3c > div {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 20px;
  background-color: rgba(62, 58, 58, 0.5);
  color: white;
}

#content3 #content3a > a {
  height: 400px;
  background-image: url(../IMAGE/uc.png);
  background-position: center;
  background-size: cover;
  border-radius: 0px 20px/ 0px 20px;
}

#content3 #content3b > a {
  height: 400px;
  background-image: url(../IMAGE/singapore.png);
  background-position: center;
  background-size: cover;
  border-radius: 0px 20px/ 0px 20px;
}

#content3 #content3c > a {
  height: 400px;
  background-image: url(../IMAGE/thailand.png);
  background-position: center;
  background-size: cover;
  border-radius: 0px 20px/ 0px 20px;
}
@media only screen and (min-width: 992px) {
  nav .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  .subnav {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .img-nav {
    display: none;
  }
  .dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
  }
}

.sub-menu > a {
  padding: 10px 10px;
}
.sub-menu > a:hover,
.title-subnav:hover {
  text-decoration: underline;
  color: #4b843f;
  background-color: white;
}
.title-subnav {
  color: #00558f;
  background-color: white;
}
.text-dec {
  text-decoration: none;
}
.text-dec:hover {
  text-decoration: underline;
}
#computer,
#computer1 {
  display: none;
}

#phone,
#phone1 {
  display: none;
}

@media (min-width: 600px) {
  #computer,
  #computer1 {
    display: block;
  }
}

@media (max-width: 700px) {
  #phone,
  #phone1 {
    display: block;
  }
}
